* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  background: #333;
  height: 300vh;
  position: relative;
}

.menu {
  background: #333;
  position: fixed;
  color: yellowgreen;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid transparent;
  background-image: linear-gradient(#333, #333),
    radial-gradient(circle at right bottom, #f00, #00f);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.menu ul {
  list-style: none;
}
.menu i {
  margin-right: 20px;
  font-size: 20px;
}

.menu li {
  border-right: #bbbbbb solid 2px;
  float: left;
  padding: 15px 20px;
  color: #bbbbbb;
  cursor: pointer;
  text-transform: uppercase;
}
.menu li:last-child {
  border: none;
}
.menu li:hover {
  color: #f0d;
}

.menu .active {
  color: #2df;
}

.signup {
  position: absolute;
  top: 5px;
  right: 80px;
  text-decoration: none;
  color: #bbbbbb;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#333, #333),
    radial-gradient(circle at top left, #2df, #f0d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.signup i {
  display: none;
}

.signup:hover {
  background-image: linear-gradient(#2df, #f0d),
    radial-gradient(circle at top left, #2df, #f0d);
  background-clip: border-box, border-box;
  color: #000;
}

.signup span {
  display: block;
  padding: 10px 30px;
}

@media (max-width: 640px) {
  .menu li {
    width: 20%;
    text-align: center;
  }
  .menu li:last-child {
    padding: 9.5px 20px;
  }
  .menu i {
    margin-right: 0px;
  }

  .menu li span {
    display: none;
  }

  .signup {
    display: block;
    position: static;
  }

  .signup i {
    display: block;
    padding: 4px 4px;
  }
  .signup span {
    padding: 0;
  }
}

.slider {
  position: relative;
  top: 20vh;
  left: 20%;
  width: 60%;
  height: 50vh;
}

.slider img {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* opacity: 0.3; */
  opacity: 1;
}

.slider .previous {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  transition: 0.5s;
  text-align: center;
  font-size: 80px;
  color: white;
  font-weight: bolder;
  line-height: 50vh;
}
.slider .previous:hover {
  cursor: pointer;
  opacity: 1;
}
.slider .next {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  transition: 0.5s;
  text-align: center;
  font-size: 80px;
  color: white;
  font-weight: bolder;
  line-height: 50vh;
}
.slider .next:hover {
  cursor: pointer;
  opacity: 1;
}
